<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      shirajun
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>        
</div>

<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        MIWA
      </div>
      <div class="message-date">
        2020/9/25(fry) 20:49:48
      </div>
     </div>
    <div class="lower-message">
      <div class="message-content">
        good morning
      </div>
    </div>
  </div>
  
  <div class="message">  
    <div class="upper-message">
      <div class="message-user">
        TSUGU
      </div>
      <div class="message-date">
        2020/9/25(fry) 20:56:22
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        mammy
      </div>
    </div>
  </div>
</div>

<%= form_with model: [@room, @message], html: {class: "form"}, local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: '書け' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送れ', class: 'form-submit' %>
<% end %>